{% extends 'layout.html' %}

{% block content %}
<h1 class="ms-4" style="color: black;">Settings</h1>

<nav>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="product-tab" data-bs-toggle="tab" data-bs-target="#product-tab-pane" type="button" role="tab" aria-controls="product-tab-pane" aria-selected="true">Product</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="vesselsize-tab" data-bs-toggle="tab" data-bs-target="#vesselsize-tab-pane" type="button" role="tab" aria-controls="vesselsize-tab-pane" aria-selected="true">Vessel Size</button>
        </li>
        {#<li class="nav-item" role="presentation">
            <a class="nav-link" data-toggle="tab" href="/settings">
                Vessel Size
            </a>
        </li>#}

    </ul>

    <div class="tab-content" id="myTabContent">
  <div class="tab-pane fade" id="product-tab-pane" role="tabpanel" aria-labelledby="product-tab" tabindex="0">...</div>
  <div class="tab-pane fade" id="vesselsize" role="tabpanel" aria-labelledby="vesselsize" tabindex="0">...</div>
</div>
</nav>

<div class="tab-content">
  <div id="product" class="tab-pane fade in active">
    <h3>Product</h3>
    <p>Some content.</p>
  </div>
  <div id="vesselsize" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
</div>

const triggerTabList = document.querySelectorAll('#myTab button')
triggerTabList.forEach(triggerEl => {
  const tabTrigger = new bootstrap.Tab(triggerEl)

  triggerEl.addEventListener('click', event => {
    event.preventDefault()
    tabTrigger.show()
  })
})

{% endblock %}